{% extends "base_header.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block page %}
    <form method="post" id="login_form">
        {% csrf_token %}
        <div class="input_group">
            <h2>Login</h2>
            <hr>
            <div class="input_unit">
                <img src="{% static 'pics/square.JPG' %}">
                <input required name="username" id="username" type="text" placeholder="Username" maxlength="16" minlength="4">
            </div>
            <div class="input_unit">
                <img src="{% static 'pics/square.JPG' %}">
                <input required name="password" id="password" type="password" placeholder="password" maxlength="22" minlength="6">
            </div>
            <input type="submit" id="submit" value="Login" />
        </div>
        <a href="{% url 'quotapp:signup' %}">Haven't sign up?</a>
    </form>
{% endblock %}